article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  color: #545959;
  scroll-behavior: smooth;
}

body {
  font-size: 1.2rem;
}

img {
  width: 100%;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.wrapper {
  width: 70%;
  max-width: 1280px;
  margin: 0 auto;
  border: 1px dotted green;
}

a {
  text-decoration: none;
  color: #545959;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

.headerNav {
  text-align: right;
  padding: 2rem 0;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.headerNav a {
  padding: 1rem 0;
}

.headerNav li {
  padding-right: 1rem;
}

.headerNav li:last-of-type {
  padding-right: 0;
}

header {
  background: white;
  text-align: center;
  padding: 6rem 0 10rem 0;
  margin: 0 auto;
  height: 80vh;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.bigName {
  background: white;
  margin: 0 auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20rem;
  text-transform: uppercase;
  letter-spacing: -32px;
  line-height: 70%;
  margin-bottom: 2rem;
}

.mix {
  mix-blend-mode: difference;
}

.emma span,
.roe span {
  margin: 0 0;
  padding: 0 0;
  opacity: .9;
  mix-blend-mode: multiply;
  display: inline-block;
}

.one {
  color: #8654ba;
}

.two {
  color: #fe7a5c;
}

.three {
  color: #feafbc;
}

.four {
  color: #3A5DBF;
}

.five {
  color: #6F88F3;
}

.six {
  color: #2DC4BF;
}

.seven {
  color: #ffe572;
}

.about, .skills, .contact {
  height: 100vh;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.aboutText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.summary {
  margin-top: 0rem;
  width: 50%;
  font-size: 2rem;
  height: 100vh;
}

.summary p {
  margin-bottom: 2rem;
}

.aboutImage {
  width: 35%;
}

.aboutImage img {
  width: 100%;
  border: 2rem solid #3A5DBF;
}

#about {
  color: #feafbc;
}

#skills {
  color: #2DC4BF;
}

#portfolio {
  color: #fe7a5c;
}

#contact {
  color: #6f87f3;
}

#skills,
#about,
#portfolio,
#contact {
  margin: 0 auto;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 6rem;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4), -2px 2px 1px rgba(0, 0, 0, 0.4), -3px 3px 1px rgba(0, 0, 0, 0.4);
}

.skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  padding-top: 3rem;
  width: 100%;
  margin-bottom: 2rem;
}

.skillsContainer div {
  text-align: center;
}

.skills,
.about,
.portfolio,
.contact {
  margin: 0 auto;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skillIcon {
  width: 150px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

svg {
  width: 100%;
  color: #545959;
  margin: 0 auto;
  padding: 0;
}

svg.firebase {
  width: 80%;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 0 auto;
}

h3 {
  font-family: "Poppins", sans-serif;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 5rem;
  margin: 0;
  padding: 0 0 1rem 0;
}

h4 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

h6 {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 8rem;
}

.projectContainer img {
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4), -1px -1px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4), -1px -1px 8px rgba(0, 0, 0, 0.4);
}

.projectInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 3rem;
  text-align: right;
  width: 50%;
}

.projectInfo p {
  font-size: 1.6rem;
  margin: 3rem 0;
  font-family: "Poppins", sans-serif;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.reverse .projectInfo {
  padding-left: 3rem;
  text-align: left;
}

.imageContainer {
  width: 50%;
}

.links {
  padding: 1rem 0;
}

.links a {
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.6rem;
}

.links .live {
  margin-right: .5rem;
}

footer {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.contact {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.contact .email {
  font-weight: 600;
}

.contact h3 {
  margin: 0 auto;
  text-align: center;
}

.contact form {
  width: 50%;
  padding: 3rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}

.contact input {
  outline: none;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  border: none;
  padding: 1rem 0;
  margin-top: 1rem;
  background: rgba(45, 196, 191, 0.199);
  background: white;
}

.contact input[type="text"]::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder {
  font-size: 1.3rem;
  font-style: italic;
}

.contact input[type="text"]:-ms-input-placeholder,
.contact textarea:-ms-input-placeholder {
  font-size: 1.3rem;
  font-style: italic;
}

.contact input[type="text"]::-ms-input-placeholder,
.contact textarea::-ms-input-placeholder {
  font-size: 1.3rem;
  font-style: italic;
}

.contact input[type="text"]::placeholder,
.contact textarea::placeholder {
  font-size: 1.3rem;
  font-style: italic;
}

.contact textarea {
  outline: none;
  border: none;
  overflow: auto;
  resize: none;
  margin-top: 2rem;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.contact textarea:focus,
.contact input:focus {
  border-color: transparent !important;
}

.contact button {
  outline: none !important;
  border: none;
  color: #545959;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
}

.contactWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.contactInfo {
  padding-right: 5rem;
  width: 50%;
}

.social {
  font-size: 5rem;
}

.social .circle {
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

/* NAV LINKS --- Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 18%;
  background: #fe7a5c;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.hvr-underline-from-center-about:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 18%;
  background: #8654ba;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center-skills:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 18%;
  background: #feafbc;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center-contact:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 18%;
  background: #3A5DBF;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* git hub / LIVE links -- Shutter In Horizontal */
.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #fe7a5c;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-shutter-in-horizontal:before,
button.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: white;
}

.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
/*# sourceMappingURL=style.css.map */